body
{
    margin: 0 auto;
    padding: 0;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: wheat;
}
.portada
{
    background-color: blanchedalmond;
    padding: 30px;
    border-radius: 30px;
    border-color: black;
    border-style: inset;
}
.boton
{
    width: 120px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
}
.introduccion
{
    width: 700px;
    background-color: beige;
    text-align: justify;
    margin: 0 auto;
    border-radius: 20px;
    border-color: black;
    border-style: inset;
    padding: 20px;
}
.menu-principal
{
    color: white;
    margin: 0 auto;
    width: 570px;
    background-color:darkseagreen;
    padding: 65px;
    border-radius: 30px;
    border-color: black;
    border-style: inset;
}
.menu-principal-2
{
    color: white; 
}
.m-u-3{
    display: flex;
    justify-content: space-evenly;
}
.encabezado
{
    display: flex;
    justify-content: space-between; /* Espacia los elementos a los lados */
    align-items: center; /* Alinea verticalmente los elementos */
    align-items: center; /* Alinea verticalmente los elementos */   
}
.logo
{
    width: 200px;
    height: 200px;
}
.texto-centro
{
    flex-grow: 1;
    margin: 0;
}
.introducciones
{
    background-color:lemonchiffon;
    font-size: 14px;
    text-align: justify;
    width: 650px;
    margin: 0 auto;
    padding: 20px;
    border-color: black;
    border-style: inset;
    border-radius: 20px;
}
.menu
{
    background-color: #dcac53;
    width: 600px;
    height: 350px;
    margin: 0 auto;
    padding: 20px;
    padding-left: 30px;
    border-radius: 30px;
    border-color: black;
    border-style: inset;
}
.radio
{
    color: white;
    cursor: pointer;
    accent-color: #9A7E6F;
}
.metodos-1
{
    background-color: #E9EED9;
    width: 600px;
    margin: 0 auto;
    padding: 20px;  
    justify-content: center; 
    border-color: black;
    border-style: inset;
    border-radius: 20px;
}
.metodos-2
{
    background-color : #CBD1C9;
    width: 600px;
    margin: 0 auto;
    padding: 20px;   
    justify-content: center;
    border-color: black;
    border-style: inset;
    border-radius: 20px;

}
.intervalo
{
    display: inline-flex;
}
.inter
{
    padding-top: 15px;
    width: 25px;
    height: 18px;
    justify-content: center;
}
.ecuaciones
{
    cursor: pointer;
    display: flex;
    padding: 40px;
}
.ec-2
{
    padding-left: 130px;
}
.boton-r
{
    border-radius: 10px;
    background-color: aliceblue;
}
.tabla-metodos{
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
}
.LU{
    display: flex;
    justify-content: center;
}
.vector{
    justify-content: center;
    display: flex;
    align-items: center;
}
.tabla-potencia{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.tabla-potencia th, .tabla-potencia td{
    padding: 0px;
}
.salida
{
    color: #526E48;
    background-color: #9EDF85;
    width: 700px;
    padding: 30px;
    border-radius: 30px;
}
.descargas{
    display: flex;
    justify-content: center;
}